*{
	padding: 0px;
	margin: 0px;
}

body{
	font-family: 'Abel', sans-serif;
	background-size: 100%;
	background-color: #3d3d3d;
	color: whitesmoke;
}

nav{
	width: 100%;
	height: 60px;
	background-color: #3d3d3d;
	display: flex;
	font-weight: bold;
}

nav ul{
	position: relative;
	font-size: 15pt;
	left: 10%;
	top: 30%;
	list-style: none;
	display: flex;
}

nav li{
	line-height: 60px;
}

nav a#menu{
	text-decoration: none;
	color: white;
	display: block;
	padding: 0px 20px 0px 20px;
}

nav a#menu:hover{
	transform: scale(1.05,1.05);
	color:#49ceb8;
}

img#logo{
	position: absolute;
	top: 10px;
	left: 3%;
	margin: 5px;
	width: 70px;
	height: 70px;
	transition: .7s;
}

img#logo:hover{
	transform: scale(1.1,1.1)
}

.git{
	margin: 0;
	padding: 0;
	position: absolute;
	top: 20px;
	left: 87%;
	width: 50px;
	transition: .8s;
}

.git:hover{
	transform: rotate(360deg);
}

.in{
	width: 50px;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 20px;
	left: 92%;
	transition: .2s;
}
.in:hover{
	transform: scale(1.05,1.05);
}
/*        GERAL E MENU ^^          */
.home{
	margin: auto;
	width: 90%;
	height: 100vh;
	display: flex;
	border-bottom: 1px solid rgba(255, 255, 255, .1);
}

.col1{
	width: 50%;
	height: 100%;
	margin: auto;
	text-align: right;
}

.col1 p#home{
	position: relative;
	right: 50px;
	top: 25%;
	font-size: 25pt;
	color: whitesmoke;
	transition: .2s;
}

.col1 p#home:hover{
	transform: scale(1.02,1.02);
}

.col2{
	height: 100%;
	width: 50%;
	margin: auto;
	text-align: left;
}
.zoom{
	overflow: hidden;
	position: relative;
	top: 18%;
	width: 500px;
	height: 400px;
}

.zoom img{
	width: 100%;
	border-radius: 1%;
	transition: 1s;
}

.zoom img:hover{
	transform: scale(1.1,1.1);
}

/*        PÁGINA 1 ^^         */
.eu{
	margin: auto;
	width: 90%;
	height: 100vh;
	display: flex;
	border-bottom: 1px solid rgba(255, 255, 255, .1);
}
#perfil{
	position: relative;
	left: 20%;
	top: 20%;
	width: 400px;
	height: 400px;
	border-radius: 50%;
	box-shadow: 0px 0px 5px whitesmoke;
	transition: 1s;
}
#perfil:hover{
	transform: scale(1.1,1.1);
	border-radius: 0%;
}
#titulop{
	text-align: right;
	top: 10%;
	left: 50px;
	position: relative;
	font-size: 25pt;
	color: whitesmoke;

}
#textop{
	text-align: left;
	top: 20%;
	left: 50px;
	position: relative;
	font-size: 15pt;
	color: whitesmoke;
}
#texto2{
	text-align: right;
	text-align: justify;
	top: 20%;
	left: 50px;
	position: relative;
	font-size: 15pt;
	color: whitesmoke;
}
/*        PÁGINA 2 ^^          */
.habilidade{
	background-color: black;
	margin: auto;
	width: 90%;
	height: 100vh;
	border-bottom: 1px solid rgba(255, 255, 255, .1);
}
/*        PÁGINA 3 ^^          */
.exp{
	background-color: blue;
	margin: auto;
	width: 90%;
	height: 100vh;
	border-bottom: 1px solid rgba(255, 255, 255, .1);
}
/*        PÁGINA 4 ^^          */
.contato{
	background-color: tomato;
	margin: auto;
	width: 90%;
	height: 100vh;
	border-bottom: 1px solid rgba(255, 255, 255, .1);
}
/*        PÁGINA 5 ^^          */
.redes{
	background-color: yellow;
	margin: auto;
	width: 90%;
	height: 100vh;
	border-bottom: 1px solid rgba(255, 255, 255, .1);
}
/*        PÁGINA 6 ^^    